/*HTML Tags*/
a {
    color: black;
    text-decoration: none;
}

body {
    background-color: white;
}

 h3, h4, h5, h6 {
    color: #001514;
}

/*IDs*/
#blog-contents {
    background-color: white;
    width: 75vw;
    margin-left: 25%;
}

#blog-header {
    background-color: #BC4611;
    color: white;
    height: 100vh;
    width: 125px;
    position: absolute;
    box-shadow: 5px 0px 10px #001514;
}

#blog-contents {
    width: 900px;
}

/*Classes*/
.center-text {
    text-align: center;
}

.column-stack {
    display: inline-block;
}

.contents-frame {
    width: 80%;
}

.gray-out {
    height: 17.5px;
    width: 60px;
    font-size: smaller;
    color: gray;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 25px;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}

.header-link {
    color: bisque;
    font-weight: bold;
}

.header-link:hover {
    font-weight: bolder;
    text-shadow: 5px 5px 5px #001514;
}

.image-frame {
    width: 20%;
}

.image-full {
    width: 100%;
    object-fit: fill;
}

.image-preview {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.internal {
    display: inline-block;
    margin: 5px;
}

.post-block {
    width: 700px;
}

.recents-date {
    width: 30%;
    text-align: right;
    color: gray;
    font-style: italic;
    display: inline-block;
}

.recents-title {
    width: 70%;
    text-align: left;
    display: inline-block;
}



/*Media Queries*/
@media screen  and (max-width: 700px)  {
    div.post-block {
        width: 80%;
    }
    div.image-frame {
        display: block;
        margin: 0px auto;
    }
    #blog-contents {
        width: 80%;
    }
    .image-full {
        width: 80%;
    }
}