body {
  background-color: white;
  margin: 0 25px;
}

#info-box {
  position: absolute;
  top: 50px;
  left: 80%;
  width: 300px;
  z-index: 5;
}

#info-button {
  border: 1px solid black;
  height: 15px;
  width: 10%;
  position: relative;
}

#more-info {
  transition-property: height;
  transition-duration: 1s;
  overflow: scroll;
  visibility: hidden;
  height: 0px;
  max-height: 300px;
  width: 100%;
  position: relative;
  background-color: lightgray;
  padding: 0 5px;
}

.center-text {
  text-align: center;
}

.one-more-thing {
  font-size: 10px;
  color: dimgray;
}
