/*HTML tags*/
body {
  background-color: #E4DBCA;
  margin: 0 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 4em;
  line-height: 0.75em;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000;
}

/*IDs*/
#contents-section {
  background-color: rgb(255, 255, 255);
  border: 3px solid #D3C4A8;
  border-radius: 5px;
  padding: 20px;
}

#header {
  height: 125px;
  padding-top: 50px;
}

#info-box {
  margin: 0 0 0 auto;
  width: 300px;
  z-index: 5;
}

#info-button {
  height: 22px;
  width: 22px;
  left: 90%;
  position: relative;
  cursor: pointer;
  text-align: center;
  color: white;
  border: 3px solid white;
  border-radius: 50%;
}

#more-info {
  transition-property: height;
  transition-duration: 1s;
  overflow-y: scroll;
  overflow-x: hidden;
  visibility: hidden;
  height: 0px;
  max-height: 300px;
  width: 300px;
  position: absolute;
  background-color: #D3C4A8;
  border: 1px solid black;
  padding: 0 5px;
}

#search-input {
  width: 20%;
  margin: 0 auto;
}

/*Classes*/
.center-text {
  text-align: center;
}

.contents-margin {
  width: 85%;
  margin: 0 auto;
}

.one-more-thing {
  font-size: 10px;
  color: dimgray;
  font-style: italic;
}

.result-text {
  font-size: 150%;
}
