/*HTML tags*/
body {
  background-color: rgb(231, 198, 120);
  margin: 0 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*IDs*/
#contents-section {
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(233, 220, 233);
  border-radius: 5px;
  padding: 20px;
}

#info-box {
  margin: 0 0 0 auto;
  width: 300px;
  z-index: 5;
}

#info-button {
  height: 22px;
  width: 22px;
  left: 90%;
  position: relative;
  cursor: pointer;
  text-align: center;
  color: white;
  border: 3px solid white;
  border-radius: 50%;
}

#more-info {
  transition-property: height;
  transition-duration: 1s;
  overflow-y: scroll;
  overflow-x: hidden;
  visibility: hidden;
  height: 0px;
  max-height: 300px;
  width: 300px;
  position: absolute;
  background-color: rgb(251, 225, 165);;
  border: 1px solid black;
  padding: 0 5px;
}

#search-input {
  width: 20%;
  margin: 0 auto;
}

/*Classes*/
.center-text {
  text-align: center;
}

.one-more-thing {
  font-size: 10px;
  color: dimgray;
}

.result-text {
  font-size: 150%;
}
