/*HTML Tags*/
body {
  background-color: #F9E49C;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

button {
  background-color: #9CB1F9;
  color: white;
  height: 50px;
  width: 175px;
  border: 1px solid #9CB1F9;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  font-size: 1.5em;
}

h1 {
  font-size: 4em;
  line-height: 0.75em;
}

h2 {
  font-size: 3em;
  line-height: 0.75em;
}

h3 {
  font-size: 2.34em;
}

h4 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

li {
  font-size: 24px;
}

/*IDs*/
#about-me {
  border-radius: 5px;
  padding: 10px;
  color: #000000;
}

#contact-me {
  margin-bottom: 50px;
}

#main-contents {
  width: 100%;
  margin: 0;
}

#my-picture {
  margin: 0 auto;
}

#title-section {
  color: #000000;
}

/*Classes*/
.center-text {
  text-align: center;
}

.content-margins {
  margin: 0 5%;
}

.display-area {
  background-color: #FFFFFF;
  position: static;
  width: 100%;
  border: 1px solid #FFFFFF;
  padding: 0 0 20px 0;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.half-size {
  width: 49%;
}

.horizontal-center {
  width: 80%;
  margin: 0 auto;
}

.inline-block {
  display: inline-block;
}

.inline-heading {
  display: inline-block;
  font-size: 1.8em;
  font-weight: bold;
}

.list-column {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.one-more-thing {
  font-size: 10px;
  color: dimgray;
  font-style: italic;
}

.section-dimensions {
  width: 90%;
  margin: 0 auto;
}

.section-picture {
  width: 100%;
}

.tab {
  display: inline-block;
  cursor: pointer;
  padding-right: 3%;
  background: linear-gradient(
    45deg,
    #FFFFFF,
    #FFFFFF 87%,
    Transparent 13%
  );
}

.text-block {
  height: 100px;
}

.third-size {
  width: 33%;
}

.work-section {
  background-color: #9CB1F9;
  border: #000000 1px solid;
  padding: 15px;
}