/*HTML Tags*/
body {
  margin: 0 5%;
  background-color: rgb(189, 235, 137);
}

button {
  background-color: rgb(80, 219, 237);
  color: white;
  height: 50px;
  width: 175px;
  border: 1px solid rgb(80, 219, 237);
  border-radius: 5px;
  display: inline-block;
}

/*IDs*/
#my-picture {
  margin-left: auto;
  margin-right: auto;
}

/*Classes*/
.center-text {
  text-align: center;
}

.half-size {
  width: 49%;
}

.inline-block {
  display: inline-block;
}

.list-column {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.one-more-thing {
  font-size: 10px;
  color: dimgray;
}

.section-picture {
  width: 100%;
}

.tab {
  display: inline-block;
  border: 1px solid black;
  cursor: pointer;
}

.third-size {
  width: 33%;
}