/*HTML Tags*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background-color: white;
}

button {
  background-color: #fc9a1a;
  color: white;
  height: 50px;
  width: 175px;
  border: 1px solid #fc9a1a;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  font-size: 1.5em;
}

h1 {
  font-size: 4em;
  line-height: 0.75em;
}

h2 {
  font-size: 3em;
  line-height: 0.75em;
}

h3 {
  font-size: 2.34em;
}

h4 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

li {
  font-size: 24px;
}

/*IDs*/
#catch-visual {
  background-color: blueviolet;
  width: 100%;
  height: 350px;
}
#cv-text {
  display: inline-block;
  vertical-align: middle;
  height: 30%;
  width: 100%;
  font-size: 4em;
  color: white;
  text-align: center;
  
}

/*Classes*/
.one-more-thing {
  font-size: 10px;
  color: dimgray;
  font-style: italic;
}

.orange-color {
  color: #fc9a1a;
}

.page-margins {
  width: 80%;
  margin: 0 auto;
}